@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,700');

body{
	font-family:'Dosis', sans-serif;;
}

.header{
	background:url('../img/headerbg.png');
	background-size:cover;
	color:#ffffff;
	padding-top:50px;
	padding-bottom:50px;
	background-attachment: fixed;
}

.logo{
	width:60%;
}


.closebutton{
	width:20px;
	height:20px;
	color:#ffffff;
}


.mymenu{
	text-align: center;
	float:right;
	display:none;
}


.mymenu li{
	display:inline-block;
	margin-left:50px;
	list-style-type: none;
	font-size:18px;
	text-transform: uppercase;
	font-weight:400;
}

.mymenu li a{
	color:#ffffff;
	text-decoration: none;
}


.header h1{
	font-size:50px;
	text-transform: uppercase;
	font-weight:300;
	margin-top:650px;
	text-align: center;
}

.header p{
	font-size:18px;
	font-weight:400;
	text-align: center;
	margin-top:40px;
}

.scrollarea{
	text-align: center;
}

.scrolldown{
	width:20px;
	margin-top:55px;
}


.hamburger{
	width:40px;
	float:right;
}

.arguments{
	padding-top:50px;
	padding-bottom:50px;
	color:#383838;
}

.arguments h1{
	font-size:36px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom:50px;
}

.blocicon{
   width:40%;
}

.iconalign{
   text-align: center;
}

.bloc h2{
	font-size:24px;
	font-weight:700;
	color:#98878f;
	margin-top:30px;
	text-transform: uppercase;
	text-align: center;
}

.bloc p{
	font-size:14px;
	font-weight:400;
	margin-top:30px;
}

.bloc a{
	color:#98878f;
	font-weight:700;
	font-size:12px;
	text-decoration: none;
	text-transform: uppercase;
}

.bloc a:hover{
	text-decoration: none;
	color:#985e6d;
}


.ach{
	background:url('../img/achbg.png');
	background-size: cover;
	padding-top:50px;
	padding-bottom:50px;
	background-attachment: fixed;
	color:#ffffff;
	text-align: center;
}

.ach h1{
	font-size:36px;
    font-weight:300;
    text-transform: uppercase;
    margin-bottom:80px;
}

.achbloc span{
	font-size:107px;
	font-weight:300;
}

.achbloc h3{
	font-size:27px;
	font-weight:700;
	text-transform: uppercase;
	color:#98878f;
}

.newsletter{
	padding-top:50px;
	padding-bottom:50px;
	background:#e6e5e5;
	color:#383838;
}

.newsletter h1{
   font-size:36px;
   font-weight:300;
   text-transform: uppercase;
   text-align: center;
}

.newsletter p{
	font-size:18px;
	font-weight:400;
    text-align: center;
    margin-top:20px;
    margin-bottom:80px;
}


.newsletter input{
	background:#ffffff;
	border:none;
	border-radius:5px 5px 5px 5px;
	border-bottom:4px solid #98878f;
	color:#383838;
	padding:30px;
	width:100%;
	font-size:18px;
	outline:none;
}

.newsletter button{
	background:#98878f;
	border:none;
	border-radius:5px 5px 5px 5px;
	padding:30px;
	width:100%;
	color:#ffffff;
	font-weight:700;
	text-transform: uppercase;
	font-size:18px;
	outline:none;
}

.newsletter button:hover{
	opacity:0.56;
}


::-webkit-input-placeholder{
	color:#949494;
}

/* For firefox 18/19 */
::-moz-placeholder{
   color:#949494;
}

::-ms-input-placeholder{
	color:#949494;
}


.footer{
	background:#383838;
	padding-top:50px;
	padding-bottom:50px;
	text-align: center;
}

.footerlogo{
	width:90px;
}

.footer p{
	font-size:12px;
	color:#ffffff;
	margin-top:40px;
	text-transform: uppercase;
}


@media screen and (min-width:0px) and (max-width:414px){

.newsletter input{
	margin-bottom:40px;
}

}


@media screen and (min-width:415px) and (max-width:768px){
	.mymenu{
	float:left;
}

.mymenu li{
	margin-left:30px;
}

.logo{
	width:90%;
}

.achbloc span{
	font-size:72px;
}

}
